/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.continer {
  width: 1170px;
  margin: 0 auto;
}

.header-left {
  float: left;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-right {
  color: white;
  float: right;
  
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;  
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  color: white;
  line-height: 65px;
  padding: 0 25px;
  display: block;
}

.login {
  
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  color: white;
  text-align: center;
}


.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 15px;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 7px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.signup {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #239b76;
}

.fa {
  margin-right: 5px;
}
.facebook {
  margin-right: 10px;
  background-color: #3b5998;
}

.twitter {
  background-color: #55acee;
}

.lessons-wrapper {
  /*width: 1170px;*/
  height: 580px;
  background-color: #f7f7f7;
  text-align: center;
}

.lessons-title {
  padding-top: 80px;
  margin-bottom: 50px;
}

.lessons-title h2 {
  font-weight: normal;
  color: #5f5d60;
}

.lesson {
  float: left;
  width: 25%;
}
/* Lessonのアイコン設定 */
.lesson-icon {
  /* icon左上原点指定 */
  position: relative;
}

.lesson-icon p {
  /* icon左上原点を基準に絶対座標で位置指定 */
  position: absolute; 
  top: 90px;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.message-wrapper {
  padding-top: 80px;
  text-align: center;
}

.message-title h2 {
  font-weight: normal;
}

.message-btn {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 15px 40px;
  background-color: #5dca88;
  opacity: 0.8;
  box-shadow: 0 7px #1a7940;
  border-radius: 4px;
}

.message-btn span {
  color: white;
}

.message-btn:hover {
  opacity: 1;
}

.message-btn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.footer-wrapper {
  border-top: 1px solid #eee;
}

.footer-logo {
  padding-top: 30px;
  padding-bottom: 30px;
  float: left;
}

.footer-logo img {
  width: 124px;
}

.footer-logo p {
  font-size: 12px;
  color: #b3aeb5;
}
